@media screen and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
    .Paper-Column{
        padding: 1% 10% 3% 10%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% 1% 2% 1%;
    }
    .Top-Image{
        width: 100%;
        height:13rem;
        margin-bottom: 5%;
        position: relative;
    }
    .Image-Box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:13rem;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .HeaderMain{
        color:white;
        font-size: 30px;
    }
    .HeaderCollab{
        color:white;
        font-size: 20px;
        margin-top: 1%;
    }
    .HeaderReg{
        color:white;
        font-size: 10px;
        margin-top: -1%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .Paper-Column{
        padding: 1% 10% 3% 10%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% 5% 2% 5%;
    }
    .Top-Image{
        width: 100%;
        height:20rem;
        margin-bottom: 5%;
        position: relative;
    }
    .Image-Box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:20rem;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .HeaderMain{
        color:white;
        font-size: 40px;
    }
    .HeaderCollab{
        color:white;
        font-size: 25px;
        margin-top: 1%;
    }
    .HeaderReg{
        color:white;
        font-size: 15px;
        margin-top: -1%;
    }
}

@media screen and (min-width: 1001px) {
    .Paper-Column{
        padding: 1% 10% 3% 10%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% 20% 2% 20%;
    }
    .Top-Image{
        width: 100%;
        height:35rem;
        margin-bottom: 5%;
        position: relative;
    }
    .Image-Box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:35rem;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .HeaderMain{
        color:white;
        font-size: 60px;
    }
    .HeaderCollab{
        color:white;
        font-size: 30px;
        margin-top: 1%;
    }
    .HeaderReg{
        color:white;
        font-size: 20px;
        margin-top: -1%;
    }
}


.background{
    background-color: #EEE;
    height: 100%;


}



.Paper-Row{
    padding: 3% 10%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .2% 18% .2% 18%;
}
.Paper-subColumn{
    padding:2%;
    background-color: #fff;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .3%;
   flex: 1;
    flex-wrap: wrap;

}
.Head-Text{
    color : #3e6bb3;

}
.Sub-Text{
    color: #333;
}
.Question-Text{
    color: #343c7d;
    font-weight: bold;
}
.Image-Contribution{
    height: 200px;

}
.Middle-PaneFirst{
    display: flex;
    flex-direction: row;
    margin-top: 3%;


}
.Middle-Pane{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 18%;

}
.Middle-Pane2{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 18%;
    height: 400px;

}

.Middle-Text{
    width: 100%;
    text-align: center;
    border-bottom: .5px solid #3e6bb3;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: #3e6bb3;
}

.Middle-Span {
    background:#EEE;
    padding:0 10px;
}

.footer{

    background-color: #222;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 80%;
}
.GigDiv{
    width: 33.33%;
    margin: .1%;
    overflow: hidden;
    background-color: #3e6bb3;


}
.GigImg{
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-position: center;
}
.Overlay{

    padding: 1%;
}
.Credit{
    margin-top: 3%;
    background-color: #3e6bb3;
    padding: .3%;
    color: white;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}